body {
  background: #ff7e5f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #da9c33, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-container {
  margin: 8% 22% 8%;
  background-color: #fbf0d1;
  /*opacity: 0.9;*/ /* <- This brakes modals!*/
  padding: 5%;
  border-radius: 5px;
}


@media screen and (max-width: 1024px) {
    body {
      font-size: 14px;
    }

    input {
      font-size: 10px;
    }
    .form-container {
        margin: 8% 4% 8%;
    }
}
